<h4 style="color:red; text-align: center">{{title}}</h4>
<child-a></child-a>
<button (click)='sendMsg()'>Send Msg to Child</button>

<h4 customHover="pink">This is an example of custom directive</h4>
<hr/>
<input type="color" [(ngModel)]="selectorColor"> <br/>
<input type="text" #fName > <br/>
<input type="text" #lName >

<child-b></child-b>
<child-b></child-b>
<child-b></child-b>
<child-b></child-b>

<button (click)='sendMsgToChildb()'>Send Msg to Child B</button>
<input type="number" [(ngModel)]="childbIndex">