<h1>{{title}}</h1> 
<h3>Hello {{firstName}} - {{lastName}}</h3>
<h2 [ngStyle]='myStyle'>This is an h2 text for style</h2>

<button (click)="swithOff()">Swith On/Off</button>

<div *ngIf="showText">
  <div [ngSwitch]='textColor'>
    <h2 *ngSwitchCase="'BLUE'">This is a blue text</h2>
    <h2 *ngSwitchCase="'RED'">This is a red text</h2>
    <h2 *ngSwitchCase="'GREEN'">This is a green text</h2>

    <!-- <ul *ngFor="let player of players">
      <li>{{player.name}}-{{player.city}}</li>
    </ul> -->

    <table cellpadding="5" cellspacing="0" border="1">
      <thead>
        <th>Name</th><th>City</th>
      </thead>
      <tbody>
        <tr *ngFor="let player of players">
          <td>{{player.name}}</td>
          <td>{{player.city}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>
<h2 [customHover]="'blue'" mouseOutColor="green">Custom directive example apply</h2>

<button [customHover]="'yellow'" mouseOutColor="red"> Submit</button>

<h3 *hideThisElement="isHidden">This is h3 for custom structural directive example</h3>
<!-- <div>
    <h2>Safety Form</h2>
    <button  routerLink="saftyForm">Safety</button>
</div> -->

<router-outlet></router-outlet>
