/* You can add global styles to this file, and also import other style files */
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    height: 43px;
}