<h1>{{title | titlecase}}</h1>
<hr>
<ul>
  <li *ngFor="let criket of players">
    {{criket.name | greetingsPipe:'Hellow ': ' How are you?'}} - {{criket.city}}
  </li>
</ul>
<h1>{{amount | currency:'USD':'true'}}</h1>
<h1>{{amount | currency:'GBP'}}</h1>
<h1>{{amount | currency:'INR'}}</h1>

<h1>You scored :: {{score | percent}}</h1>

<h1>Today's Date:: {{todayDate | date}}</h1>
<h1>Today's Date:: {{todayDate | date:'medium'}}</h1>
<h1>Today's Date:: {{todayDate | date:'shortTime'}}</h1>

<h1>Today's Date:: {{todayDate | date:'mmss'}}</h1>

<h1>{{players | json | uppercase}}</h1>

<h1>Custom pipe example : {{amount}} -- {{amount | square}}</h1>