<nav class="navbar navbar-default">
    <div class="container-fluid" style="justify-content: left">
      <div class="navbar-header">
        <!-- <a class="navbar-brand" href="#">WebSiteName</a> -->
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a [routerLink]="['home']">Home</a></li>
        <li><a [routerLink]="['tdfForms']">Template Drivent Forms</a></li>
        <li><a [routerLink]="['reactive']">Reactive Forms</a></li>
        <li><a [routerLink]="['parent']">InputOutput</a></li>
      </ul>
    </div>
  </nav>
  <div>
      <router-outlet></router-outlet>
  </div>
